.title {
  font-family: Roboto;
  font-weight: 600;
  font-size:25px;
  padding-bottom: 10px;
}

.list:hover {
  overflow: overlay;
}
.list {
  display: flex;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.tv_show_item {
  margin-right: 20px;
}
